body {
  font-family: 'Inter', sans-serif;
}

#chatContainer {
  height: 90vh;
  background-color: aliceblue;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: end;

}

#messages{
    text-align: center;
    margin-bottom: 10px;
}

#sendBox{
    margin-bottom: 20px;
}

#messageInput{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

#sendBtn{
    border-radius:10px;
    border: 1px solid gray;
    padding: 10px;
    background-color: antiquewhite;
}


.msg.self {
  background: #599de6;
  color: white;
  align-self: flex-end; 
  border-bottom-right-radius: 4px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 5px;
}

.msg.other {
  background: #eee;
  color: black;
  align-self: flex-start;
  border-bottom-left-radius: 4px;
}
