.friendList{
    margin-top: 30px;
    border: 1px solid rgb(36, 34, 34);
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(13, 252, 41);
    cursor: pointer;
}